html {
       font-size: 62.5%;
}
* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       list-style: none;
       text-decoration: 0;
}
:root {
       --color-primary: #facc15;
       --color-secondary: #1992d4;
       --color-accent: #fda4af; 
       --color-card: #ffffff; 
}

body {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 1.5rem;
}
.grid{
       display: grid;
}
.block {
       grid-template-columns: .5fr 1fr 1fr .5fr;
       grid-template-rows: 10rem 1fr;
       width: 100%;
       max-width: 100%;
}
.sidebar {
       justify-items: flex-start;
       grid-row: 1/-1;
       position: sticky;
       top: 0;
       background-color: var(--color-secondary);
}
.header {
       grid-column: 2/-1;
       position: sticky;
       top: 0;
       background-color: #fff;
       box-shadow: 0 5px #f0e9e9, 0 6px #bec4ca;
}
.main {
       grid-column: 2/4;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: .1fr 1fr 1fr 1fr;
       gap: 1rem
       ;
       justify-items: center;
       align-items: center;
       padding: 1rem;
       background-color: #dcdee0;
}
.main_title {
       grid-column: 1/4;
       justify-self: left;
}
.content {
       grid-column: 4/5;
       grid-template-rows: .1fr 1fr .1fr 1fr;
       gap: 1rem;
       background-color: #dcdee0;
       padding: 1rem;
}
.content_title {
       justify-self: left;
       margin: 0;
}
.card {
       border-radius: 5px;
       background-color: #fff;
       padding: 2rem;
       box-shadow: 0 2px #bec4ca, 2px 0 #bec4ca  ;

}
.card_heading {
       font-size: 1.6rem;
}
.card-primary {
       border-left: 7px solid var(--color-primary);
}
.icon-container {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 2px;
       border-radius: 50%;
}
.icon {
       width: 20px;
       height: 20px;
       fill: #fff;
}
.card{
       margin: 1rem; 
}
.plan .plan-icons{
       margin-top: 2rem;
       display: flex;
       justify-content: right;
       gap: 1rem;
}
.plan .icon {
       fill: black;
}
.btn {
       padding: 1rem 2rem;
       border-radius: 2.3rem;
       background-color: var(--color-secondary);
       outline: none;
       border: 0;
       color: #fff;
       cursor: pointer;
}
.input-control {
       margin: 1rem 2rem;
       display: flex;
       border-radius: 1rem;
       gap: 2rem;
}
.input-control label {
       display: none;
}
.input-control .icon {
       fill: black;
}
.input-field {
       background: #dcdee0;
       outline: 0;
       border: 0;
       border-radius: 1rem;
       width: 80%;
       padding: .1rem 5rem;
}
.profile {
       display: flex;
       gap: 2rem;
       align-items: center;

}
.profile .icon{
      fill: black

}
img {
       border-radius: 50%;
       width: 100%;
}
.nav_header {
       display: grid;
       grid-template-columns: 4fr 1fr;
       width: 100%;
}
.img {
       width: 3.7rem;
       height: 3.7rem;
       border-radius: 50%;
       padding: .2rem;
       background-color: #1992d4;
       padding: .3rem;
}
.media {
       display: flex;
       gap: 1.2rem;
}

.nav {
       display: grid;
       grid-template-columns: 2fr 1fr;
       margin: 1rem;
}
.nav_list {
       display: flex;
       gap: 1rem;
       justify-self: center;

}