html {
       font-size: 62.5%;
}
* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       list-style: none;
       text-decoration: 0;
}
:root {
       --color-primary: #facc15;
       --color-secondary: #1992d4;
       --color-accent: #fda4af; 
       --color-card: #ffffff; 
}

body {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 1.5rem;
}
.block {
       position: fixed;
       width: 100%;
}
.grid {
       display: grid;
}
.grid-1x2 {
       grid-template-columns: 18rem auto;
}
.grid-2x1 {
       grid-template-rows: 15rem auto;
}
.sidebar {
       background-color: #1992d4;
       height: 100vh;
}
.container {
       background-color: #e2e8f0;
}
.header {
       background-color: #ffffff;
       box-shadow: 0 2px #d2d8e0;
       margin-bottom:2rem;
}
.main {
       grid-template-columns: 1fr 200px;
       gap: 2rem;
}
.card {
       height: 200px;
       border-radius: 5px;
       background-color: #d2d8e0;
       padding: 2rem;
       box-shadow: 0 2px #bec0c3;

}
.card-primary {
       border-left: 7px solid var(--color-primary);
}
.icon-container {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 2px;
       border-radius: 50%;
}
.icon {
       width: 20px;
       height: 20px;
       fill: #fff;
}
.plan .plan-icons{
       margin-top: 2rem;
       display: flex;
       justify-content: right;
       gap: 1rem;
}
.plan .icon {
       fill: black;
}
.btn {
       padding: 1rem 2rem;
       border-radius: 2.3rem;
       background-color: var(--color-secondary);
       outline: none;
       border: 0;
       color: #fff;
       cursor: pointer;
}
.projects {
       grid-template-columns: repeat(3, auto);
       gap: 2rem;
}