<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/styles.css">
       <title>Card</title>
</head>
<body>
     <div style="width: 300px; padding: 2rem;">
     <div class="card card-primary">
       <h3 class="card_heading">Super Cool Project</h3>
       <div class="card_content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo provident facilis aut doloribus quasi!
       </div>
     </div>
     </div>
</body>
</html>