<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/styles.css">
       <title>Dashboard | Claudistack</title>
</head>
<body>
   <div class="block grid grid-1x2">
       <aside class="sidebar">

       </aside>
       <div class="grid grid-2x1 container">
          <div class="header">
          </div>
          <div class="main grid">
              <div class="projects">
              </div>
              <div class="news grid" style="background-color: aqua;">
                  <div class="announcement" style="background-color: rgb(128, 154, 154);">
                  </div>
                  <div class="trending" style="background-color: black;">
                  </div>
              </div>
           </div>
       </div>
       </div>
</body>
</html>