<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/styles.css">
       <title>Dashboard | Claudistack</title>
</head>
<body>
   <div class="block grid">
    <aside class="sidebar">

    </aside>
    <header class="header">
        
    </header>
    <main class="main grid">
        <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
         <div class="plan card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
              <p class="paragraph">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.   Voluptatem    explicabo provident facilis aut doloribus quasi!
              </p>
              <div class="plan-icons">
                  <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#star"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#eye"></use>
                    </svg>
                   </div>
                   <div class="icon-container">
                    <svg class="icon">
                        <use href="../css/sprite.svg#source"></use>
                    </svg>
                   </div>
              </div>
            </div>
         </div>
    </main>
    <div class="content grid">
        <div class="card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo provident facilis aut doloribus quasi!
            </div>
          </div>
          <div class="card card-primary">
            <h3 class="card_heading">Super Cool Project</h3>
            <div class="card_content">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo provident facilis aut doloribus quasi!
            </div>
          </div>
    </div>
    </div>
</body>
</html>