<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="nav_header">
       <div class="input-control">
          <div class="icon-container">
              <svg class="icon">
                 <use href="../css/sprite.svg#search"></use>
              </svg>
          </div>
          <label for="search">Hidden</label>
          <input type="text" name="search" id="search" class="input-field">
       </div>
       <div class="profile">    
          <div class="icon-container">
              <svg class="icon">
                 <use href="../css/sprite.svg#bell">
                 </use>
              </svg>
          </div>
          <div class="img">
              <img src="../images/users.png" alt="">
          </div>
              <span>Claudistack</span>
       </div>
    </section>
</body>
</html>