<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/styles.css">
       <title>Navigation | Claudistack</title>
</head>
<body>
    <div class="nav">
       <div class="media">
            <div class="img media_image">
              <img src="../images/users.png" alt="">
            </div>
            <div class="media_content">
              <p>Hi There!</p>
              <h3>Claudistack | Full stack Developer</h3>
            </div>
       </div>
       <ul class="nav_list">
           <li class="list_iten">
              <a href="">
                 <button class="btn" type="submit">
                     submit</button>
              </a>           
           </li>              
           <li class="list_item">
              <a href="">
                     <button class="btn" type="submit">
                     submit</button>
              </a>           
           </li>              
           <li class="list_iten">
              <a href="">
                 <button class="btn" type="submit">
                     submit</button>
              </a>           
           </li>              
       </ul>
    </div>
</body>
</html>